<section class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card shadow-lg">
                    <img src="assets/img/card_1.jpg" alt="" class="img-fluid"/>
                    <div class="card-body">
                        <p class="h3">Paris</p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas fuga repudiandae cupiditate, in deleniti labore quia illum fugit ducimus nesciunt.</p>
                        <button class="btn btn-danger btn-sm">Book Now</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow-lg">
                    <img src="assets/img/card_2.jpg" alt="" class="img-fluid"/>
                    <div class="card-body">
                        <p class="h3">Nigeria</p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas fuga repudiandae cupiditate, in deleniti labore quia illum fugit ducimus nesciunt.</p>
                        <button class="btn btn-danger btn-sm">Book Now</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow-lg">
                    <img src="assets/img/card_3.jpg" alt="" class="img-fluid"/>
                    <div class="card-body">
                        <p class="h3">Ghana</p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas fuga repudiandae cupiditate, in deleniti labore quia illum fugit ducimus nesciunt.</p>
                        <button class="btn btn-danger btn-sm">Book Now</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow-lg">
                    <img src="assets/img/card_4.jpg" alt="" class="img-fluid"/>
                    <div class="card-body">
                        <p class="h3">Kenya</p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas fuga repudiandae cupiditate, in deleniti labore quia illum fugit ducimus nesciunt.</p>
                        <button class="btn btn-danger btn-sm">Book Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>