<div class="landing-page">
    <div class="wrapper">
        <div class="d-flex flex-column justify-content-center align-content-center text-center h-100">
            <h5 class="display-4">Angular Routing</h5>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe cum incidunt a et sed perspiciatis in expedita. Consequuntur tempora suscipit dignissimos, obcaecati officiis beatae ipsam? Officiis error id, accusantium molestiae esse vitae aperiam.</p>
        </div>
        
    </div>
</div>
